/* ayc-mugshot v3.0.0 - NUI Styles */
body {
    margin: 0;
    padding: 0;
    background: transparent;
    overflow: hidden;
    pointer-events: none;
}

canvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
